<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<footer>
	<section>
		<h1>ABOUT</h1>
		<p>Our store is more than just another average online retailer. We sell not only 
		top quality products, but give our customers a positive online shoppint experience. 
		Forget about struggling to do everything at once:  taking care of the family, 
		running your business, walking your dog, cleaning the house, doing the shopping, 
		etc. Purchase the goods you need everyday or just like in a few clicks or tabs, 
		depending on the device you use to access the internet. We work to make your life 
		more enjoyable.</p>
		<h1>NEWSLETTER</h1>
		<form>
			<input type="text"></input>
			<input type="submit"></input>
		</form>
	</section>
	<section>
		<h1>INFORMATION</h1>
		<ul>
			<li><a href="#">ABOUT US</a></li>
			<li><a href="#">CUSTOMER SERVICE</a></li>
			<li><a href="#">TEMPLATE SETTINGS</a></li>
			<li><a href="#">PRIVACY POLICY</a></li>
			<li><a href="#">SITE MAP</a></li>
			<li><a href="#">SEARCH TERMS</a></li>
			<li><a href="#">ADVANCED SEARCH</a></li>
			<li><a href="#">ORDERS AND RETURNS</a></li>
			<li><a href="#">CONTACT US</a></li>
		</ul>
		<h1>STORE INFORMATION</h1>
		<p>My Company, <a href="#">4578 Marmora Road, Glasgow D04 89GR</a></p>
		<p>Call us now:  <a href="#">0123-456-789</a></p>
		<p>Email:  <a href="mailto:nowhere@mozilla.org?cc=name2@rapidtables.com&bcc=name3@rapidtables.com
							&amp;subject=The%20subject%20of%20the%20email
							&amp;body=The%20body%20of%20the%20email">info@demolink.org</a></p>
	</section>
	
	<section>
		<h1>WHY BUY FROM US</h1>
		<ul>
			<li><a href="#">SHIPPING & RETURNS</a></li>
			<li><a href="#">SECURE SHOPPING</a></li>
			<li><a href="#">INTERNATIONAL SHIPPING</a></li>
			<li><a href="#">AFFILIATES</a></li>
			<li><a href="#">GROUP SALES</a></li>
		</ul>
		<h1>MY ACCOUNT</h1>
		<ul>
			<li><a href="#">SIGN IN</a></li>
			<li><a href="#">VIEW CART</a></li>
			<li><a href="#">MY WISHLIST</a></li>
			<li><a href="#">TRACK MY ORDER</a></li>
			<li><a href="#">HELP</a></li>
		</ul>
	</section>
	<section>
		<h1>FACEBOOK PAGE</h1>
		<img src="" alt="Facebook page Image"/>
		<h1>FOLLOW US</h1>
		<ul>
			<li><a href="www.facebook.com">Facebook</a></li>
			<li><a href="www.twitter.com">Twitter</a></li>
			<li><a href="www.plus.google.com">Google Plus</a></li>
			<li><a href="www.youtube.com">You Tube</a></li>
		<ul>
	</section>
	<section>
		<p>&copy 2016 Magento Demo Store. All Rights Reserved.</p>
	</section>
	
	
	</footer>

	<!-- End Component -->
	
</body>
</html>