/* Component Stylesheet 2
============================================================
============================================================*/
body {
    background: blue;
    font: 14px 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.428571429;
    color: #444444;
}
header {
    position: relative;
    margin: 0;
    padding: 97px 75px 31px 75px;
    z-index: 11;
    display: block;
}
header.indent {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

form {
    display: block;
    margin-top: 0em;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: default;
}
.js-search {
    z-index: 10;
    display: inline-block;
    margin: 99px 61px 0 0;
    position: absolute;
    top: 0;
    right: 0;
}
.js-search.active .search-form {
    width: 200px;
}

.js-search.active .toggle{
    color: #ffffff;
}

.js-search .toggle{
    font: 40px/80px 'FontAwesome';
    position: relative;
    z-index: 2;
    margin-left: 10px;
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 100%;
    border: 4px solid #ffffff;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3 all ease;
    text-align: center;
    color: #ffffff;
}
.js-search.active .toggle:before{
    content: '\f00d';
}
.js-search .toggle:before {
    content: '\f002';
}
.js-search .search-form {
    position: absolute;
    z-index: 1;
    top: 28px;
    right: 100%;
    overflow: hidden:
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 0;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3 all ease;
}
.js-search .search-form .input {
    box-shadow: none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    border: 1px solid #ffffff;
    font: 13px 'Ubuntu';
    color: #a5a5a5;
    background: #ffffff;
    padding: 8px 35px 8px 15px;
    height: 37px;
    outline: none;
    resize: none;
    overflow: hidden;
}
.js-search .search-form input {
    font: inherit;
    line-height: inherit;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: inherit;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: none;
    background-color: transparent;
    -webkit-appearance: none;
}
.js-search .search-form a{
    font: normal 14px 'FontAwesome';
    line-height: 20px;
    position: absolute;
    top: 50%;
    right: 7px;
    width: 20px;
    height: 20px;
    margin-top: -12px;
    cursor: pointer;
    text-decoration: none;
    color: #b3b4a7;
}
a {
    text-decoration: none;
    color: #428bca;
    background: transparent;
}
.js-search .search-form a:before {
    content: '\f054';
}
textarea, input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: caret;
}
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
