<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 2: Davis, Emily</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <section>
        <div class="search">
            <input name="search" type="text" id="search" onfocus="this.value=''; this.onfocus=null;" value="Search...">
            <button>Go</button>
        </div>
    </section>
	<!-- End Component -->
	
</body>
</html>