<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 2: Davis, Emily</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <header id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <div class="header_cnt">
                        <div class="brand">
                            <h1><a href="#">About dogs</a></h1>
                        </div><!--closes brand-->
                        <form id="search" class="search-form" action="search/search.php" method="GET" accept-charset="utf-8">
                            <label class="input" for="i1">
                                <input id="i1" class="_input" type="text" name="s" value="Search"
                                       onblur="if(this.value == '') { this.value='Search'}"
                                       onfocus="if (this.value == 'Search') {this.value=''}">
                            </label>
                            <a class="submit fa fa-search" onclick="document.getElementById('search').submit()"><img src="../../images/search_white_icon.png"</a>

                        </form>
                    </div><!--closes header_cnt-->
                </div><!--closes grid_12-->
            </div><!--closes row-->
        </div><!--closes container-->
    </header>
	<!-- End Component -->
	
</body>
</html>