/* Component Stylesheet 5
============================================================
============================================================*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #ffffff;
    text-decoration: none;
}

footer {
    border-top: 3px solid #e4e4e6;
    background: #efeff1;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 0.64px;
    display: table;
    height: 300px;

}
.container {
    width: 100%;
    padding: 5rem;
    display: block;

}

.column {
    width: 25%;
    display: block;
    float: left;
}
footer h5 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #3f3f4d;
    margin: 0 0 20px;
}
li {
    list-style-type: none;
    display: list-item;
    line-height: 1.75rem;
}
address {
    line-height: 1.75rem;
}

.menu li > a {
    text-transform: capitalize;
}
a {
    display: inline-block;
    font: inherit;
    color: inherit;
    text-decoration: none;
    transition: 0.3s all ease;
}
a:hover{
    color: orange;
    outline: none;
    text-decoration: none;
}

/*html {*/

    /*font-family: Arial, sans-serif;*/
    /*font-size: 100%;*/
    /*display: block;*/
    /*text-decoration: none;*/
    /*vertical-align: baseline;*/
    /*box-sizing: border-box;*/


/*}*/

/*body {*/

    /*font: 1.6em/1.4 sans-serif;*/
    /*color: #999;*/
    /*font-weight: 100;*/
    /*display: block;*/

    /*margin: 0 auto;*/

    /*padding: 2%;*/
/*}*/
/*h1 {*/
    /*font-size: 2em;*/
    /*-webkit-margin-before: 0.75em;*/
    /*-webkit-margin-after: 0.75em;*/
    /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 0px;*/
    /*font-weight: bold;*/
/*}*/
/*h2{*/
    /*font-size: 1.5em;*/
    /*-webkit-margin-before: 0.85em;*/
    /*-webkit-margin-after: 0.85em;*/
    /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 0px;*/
    /*font-weight: bold;*/

/*}*/
/*h3{*/
    /*font-size: 1.25em;*/
    /*-webkit-margin-before: 0.95em;*/
    /*-webkit-margin-after: 0.95em;*/
    /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 0px;*/
    /*font-weight: bold;*/
/*}*/


/*footer {*/
    /*position: relative;*/
    /*box-sizing: border-box;*/
    /*margin: 0 auto;*/
    /*padding: 5rem;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/
/*footer p:first-child{*/
    /*position: absolute;*/
    /*top: -3rem;*/
    /*right: 5rem;*/
    /*border-top-left-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
/*}*/
/*footer p:first-child a {*/
    /*display: block;*/
    /*width: 7rem;*/
    /*height: 3rem;*/
    /*background: url('../../images/arrow.png') no-repeat center 0.75rem;*/
    /*text-indent: -9999px;*/
    /*opacity: 0.3;*/
/*}*/
/*footer a {*/
    /*color: inherit;*/
/*}*/
/*@media (min-width: 650px;){*/
    /*#email{*/
    /*background: url('../../images/envelope.png') no-repeat center center;*/
    /*background-size: 2rem;*/
/*}*/
    /*#phone {*/
        /*background: url('../../images/phone.png') no-repeat center center;*/
    /*}*/
    /*#address {*/
        /*background: url('../../images/address.png') no-repeat center center;*/
    /*}*/
    /*dt{*/
        /*width: 2rem;*/
        /*height: 2rem;*/
        /*margin: 0 1 rem 0 4rem;*/
        /*text-indent: -9999px;*/
        /*opacity: 0.5;*/
    /*}*/
    /*dt, dd {*/
        /*display: inline-block;*/
    /*}*/
/*}*/

/** {*/
    /*margin: 0;*/
/*}*/
/*html, body {*/
    /*height: 100%;*/
/*}*/
/*.page-wrap {*/
    /*min-height: 100%;*/
    /*margin-bottom: -142px;*/
/*}*/
/*.page-wrap:after {*/
    /*content: "";*/
    /*display: block;*/
/*}*/
/*.site-footer, .page-wrap:after {*/
    /*height: 142px;*/
/*}*/
.site-footer {
    background: aliceblue;
}

