/* Component Stylesheet 1
============================================================
============================================================*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71428571;
    color: #9997aB;
}
header {
     background: url("../../images/bg.jpg") no-repeat #3f3e45;
     position: relative;
     background-size: cover;
     padding-top: 125px;
     padding-bottom: 117px;
     display: block;
 }
* {
    box-sizing: border-box;
}

.container {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
div {
    display: block;
}
.navbar-header {
    z-index: 1100;
    position: relative;
}
.brand-wrap {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-left: 89px;
}
.brand-wrap .navbar-brand_icon.fa-microphone img {
    position: absolute;
    top: 0;
    left: 0;
    width: 88px;
    height: 88px;
    display: inline-block;
    font-size: 30px;
    line-height: 88px;
    text-align: center;
    color: #ffffff;
    /*background: #3498db;*/
    /*border-radius: 50%;*/
    float: left;
}
.brand-wrap .brand_cnt {
    display: inline-block;
}
.brand-wrap .navbar-brand {
    line-height: 50px;
    margin-left: 27px;
}
.brand-wrap .navbar-brand a {
    color: #ffffff;
}
.brand-wrap * + .navbar-slogan {
    margin-top: 15px;
    margin-left: 32px;
}
.brand-wrap .navbar-slogan {
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 0.4);
}
* + p {
    line-height: 1.71428571;
    margin: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    font: inherit;
    text-decoration: none;
    transition: 0.2s;
    background-color: transparent;
}
a:-webkit-any-link {
    cursor: auto;
}
h1 {
    font-size: 80px;
    color: #ffffff;
    margin: 0;
    display: block;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}




button {
    background-color: transparent;
    color: #a19eb0;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}
.active {
    color: white;
}
button.sub {

}
button.sub:hover{

}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content.prime {
    display: none;
    min-width: 160px;
    position: absolute;
    top: -20px;
    left: 100%;
    width: 243px;
    margin-left: 5px;
    padding: 26px 38px;
    background-color: #3498db;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.5);
}
/*.about:hover{*/

/*}*/
.dropdown-content.second{
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    top: -20px;
    left: 100%;
    width: 243px;
    margin-left: 2px;
    padding: 26px 38px;
    background: #373737;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content .about a:hover {
    background-color: transparent;
    color:  #373737;
}
.dropdown-content.second a:hover {
    color: #3498db;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    color: white;
}

li {
    list-style-type: none;
}
