<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 1: Davis, Emily </title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <header>
        <h1>Auntie Em's Pet Sitting</h1>
        <nav>
            <ul>
                <li class="current"><a href="#">Home</a></li>
                <li>
                    <a href="#">Rates & Services</a>
                    <ul>
                        <li><a href="#">Over-Night</a>
                            <ul>
                                <li><a href="#">Option 1</a></li>
                                <li><a href="#">Option 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Daily Visits</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">BOOK NOW</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>
	<!-- End Component -->
	
</body>
</html>