<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 5:  Davis, Emily</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>


    <div class="page-wrap">
        Content!
    </div>


    <footer class="container">
        <div class="row">
            <div class="column">
                <div class="box_inner">
                    <div class="footer">
                        <div class="box category">
                            <div class="box-heading">
                                <h5>Categories</h5>
                            </div>
                            <div class="box-content">
                                <div class="box-category">
                                    <ul class="menu">
                                        <li><a href="#"><span>Dogs</span></a></li>
                                        <li><a href="#"><span>Cats</span></a></li>
                                        <li><a href="#"><span>Fish</span></a></li>
                                        <li><a href="#"><span>Birds</span></a></li>
                                        <li><a href="#"><span>Small Pets</span></a></li>
                                        <li><a href="#"><span>Reptiles</span></a></li>
                                    </ul> <!--close menu-->
                                </div><!-- close box-category-->
                            </div><!-- close box-content-->
                        </div><!-- close box category -->
                    </div><!-- close footer-->
                </div> <!-- close box_inner-->
            </div><!-- close cloumn-->

            <div class="column">
                <div class="box_inner">
                    <div class="footer_box">
                        <h5>Information</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul><!--closes list-unstyled-->
                    </div><!--close footer_box-->
                </div><!--close box_inner-->
            </div><!--close column-->

            <div class="column">
                <div class="box_inner">
                    <div class="footer_box">
                        <h5>My Account</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Wish List</a></li>
                            <li><a href="#">Newsletter</a></li>
                        </ul><!--closes list-unstyled-->
                    </div><!--close footer_box-->
                </div><!--close box_inner-->
            </div><!--close column-->

            <div class="column">
                <div class="box_inner">
                    <div class="footer_box">
                        <h5>Contact Us</h5>
                        <address class="material-design-map102">
                            4578 Marmora road, <br> glasgow d04 89 gr"
                        </address>
                        <address class="material-design-phone370">
                            <a href="callto:#">800*4569*9874</a>
                        </address>
                    </div><!--close footer_box-->
                </div><!--close box_inner-->
            </div><!--close column-->
        </div><!--close row-->
    </footer>
</body>
<!-- Component -->

<!-- End Component -->
</html>