/* Project CSS 
============================================================
============================================================*/
html{

    font-family: Arial, sans-serif;
    font-size: 100%;
    display: block;
    text-decoration: none;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: #252525;


}
body {

    font: 1.6em/1.4 sans-serif;
    color: #999;
    font-weight: 100;
    display: block;
    max-width: 2000px;
    margin: 0 auto;
    background-color: #303030;
    padding: 2%;






}
h1 {
    font-size: 2em;
    -webkit-margin-before: 0.75em;
    -webkit-margin-after: 0.75em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

/* HEADER ============================== */

header, section, footer {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 2%;
}



/* ABOUT ============================== */

    #emilyDavis {
        border-radius: 50%;
        float: left;
        margin: 2.5;
    }


/* COMPONENTS ============================== */
article.featured {
    border: solid 1rem #fabe0a;
}

article {
    position: relative;
    margin-bottom: 3rem;
    padding: 3rem;
    background-color: aliceblue;
    clear: left;
}
h2{
    font-size: 1.5em;
    -webkit-margin-before: 0.85em;
    -webkit-margin-after: 0.85em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

}
h3{
    font-size: 1.25em;
    -webkit-margin-before: 0.95em;
    -webkit-margin-after: 0.95em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

img {
    height: auto;
    max-width: 100%;
    padding: 2%;
}

ol {
    margin-bottom: 3rem;
    counter-reset: buildStep;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
ol li:nth-of-type(even){
    background: rgba(0,0,0,0.04);
}
ol li {
    padding: 1rem;
    list-style-type: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol li::before {
    counter-increment: buildStep;
    content: counter(buildStep);
    display: inline-block;
    margin-right: 1rem;
    padding: 0 0.5rem;
    border-right: solid 1px rgba(0,0,0,0.1);
    color: black;
}

#featured {
    background-color: #fabe0a;
    color: black;
}
.buttons {
    margin: 1rem;
}
.buttons li{
    position: relative;
    list-style-type: none;
    display: inline-block;
}
.buttons a{
    position: relative;
    display: block;
    padding: 1rem;
    background: #cccccc;
    color: #303030;
    text-transform: uppercase;
    text-decoration: none;
}

.buttons a:hover {
    background-color: #999999;
}