/*Emily Davis*/
/*February 7, 2016*/
/*Component 3 Style Sheet*/

body {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #f4f4f4;
    color:  #606060;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}


section {
    max-width: 100%;
    padding-top: 1rem;
}
tr {
    width: 25%;
    padding: 0 1rem 0 1rem;
}

table {
    display: inline-block;
    max-width: 86%;
}

h2 {
    color: black;
    font: 2rem 'Yesteryear', cursive;
    margin: 0 0 1.3rem;
    font-weight: 600;
    line-height: 1.5rem;
    position: relative;
}
p {
    font-size: 1rem;
    margin: .5rem 0 .5rem 0;
    line-height: 1rem;
}
strong {
    color: #f3b113;
}
img {
    border-radius: 50%;
    padding: .75rem;
    position: static;
}
a {
    text-decoration: none;
    color: #606060;
}



td {
    text-align: center;
}

tr td a{
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    background: #f3b113;
    max-width: 8rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5%;

}
tr td a:hover {
    background: #606060;
    max-width: 8rem;
    padding: 1rem;
    text-align: center;
    border-radius: 5%;
    margin-top: 3rem;
}
tr:last-child{
    height: 5rem;
}

/*Row 3*/
/*Row 3 column 1*/
tr:nth-child(3) td:nth-child(1) {
    border-bottom: solid 2px #606060;
    padding: 1rem 0 1rem 0;
}

/*Row 3 column 2*/

tr:nth-child(3) td:nth-child(2) p:nth-child(1) {
    text-decoration: underline;
    font-weight: 500;
}
/*row 3 column 4*/
tr:nth-child(3) td:nth-child(4) {
    border-bottom: solid 2px #606060;
}