<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>E. Davis Comp 3</title>
    <link rel="stylesheet" type="text/css" href="comp3style.css" />
</head>
<body>
<!--Remove Divs!!!-->
<!--The lorem ipsum text is exactly what was used in the example. I don't know the exact purpose
of each paragraph here. This is just how it looked.-->
<!--The most prominent issue I see is the misalignment of everything. When I look at your code, I see a lot of <div>s.
Speaking from experience, this is a tough habit to break.  I used them for styling purposes more than anything, so it's
just a matter of training myself to think about just styling the element itself without using a bunch of unnecessary
<div>s. Unnecessary in, for example, the <p>s under each picture. Why is each one in a <div>? Maybe you ran out of time
or simply overlooked this, but there are quite a few small details missing; some <p> dividers, some of the Lorem Ipsum
text is formatted in the original component, and the "more info" links do not change on hover. In regards to the "more
info" links, I noticed you have them as buttons. Something I have had to work on is realizing that buttons perform a
function and links take you somewhere. So, are they really buttons or just links you could style to have the appearance
of buttons?-->

<!--removed divs. added hover color to buttons. My "buttons" are actually links. I just gave them a class of button. So they perform as links not buttons. played with positioning a bit. Still need help to get everything to line up properly. I think the problem is the original was so un-uniform. I'm not sure how to do this with out putting things in rows and columns. So, I put it into a table!-->
<section>

    <table>
        <tr> <!--titles-->
            <td><h2>Well trained horses</h2></td>
            <td><h2>Large turnout areas for all horses</h2></td>
            <td><h2>Onsite 24/7</h2></td>
            <td><h2>Little dreamers lessons</h2></td>
        </tr>
        <tr> <!--images-->
            <td><img src="../../images/horse1.jpg" alt="Horse Picture 1"></td>
            <td><img src="../../images/horse2.jpg" alt="Horse Picture 2"></td>
            <td><img src="../../images/horse3.jpg" alt="Horse Picture 3"></td>
            <td><img src="../../images/horse4.jpg" alt="Horse Picture 4"></td>
            <td></td>
        </tr>
        <tr> <!--caption top-->
            <td>
                <p>Lorem ipsum dolor sit at, consec tetuer</p>
                <p> Adipiscing elit. Praesent vestibulum estie.</p>
            </td>
            <td>
                <p>Lorem ipsum dolor sit et, cosec tetuer</p> <!--underline-->
                <p> Adipiscing elit. Praesent vestibul lestie</p>
                <p> lacuiirhs. Aenean non ummy henerit ris.</p>
            </td>
            <td>
                <p><strong>Lorem ipsum dolor set</strong></p>
                <p>Lorem ipsum dolor sit amet, c tetuer</p>
                <p>Adipiscing elit. Praesent vestibulum mo.</p>
            </td>
            <td>
                <p>Lorem ipsum dolor sit amesec tetuer</p>
                <p>Adipiscing elit. Praesent vestibulolestie.</p>
            </td>

        </tr>
        <tr> <!--caption bottom-->
            <td>
                <p>Lorem ipsum dolor sit at, consec tetuer</p>
                <p>Adipiscing elit. Praesent vestibulum mole.</p>
            </td>
            <td>
                <p>Phasellllus. porta. Fusce suscipit mium sociis</p>
                <p>totdjque penatibus et magnis dis.</p>
            </td>
            <td>
                <p><strong>Lorem ipsum tetuer sociis natoque</strong></p>
                <p>Adipiscing elit. Praesent vestibulum molestie</p>
                <p>lacuiirhs. Aenean non ummy hendrerit.</p>
            </td>
            <td>
                <p>Lorem ipsum dolor sit amet, consec</p>
                <p>Adipiscing elit. Praesent vestibullestie.</p>
            </td>
        </tr>
        <tr class="button"> <!--buttons-->
            <td><a href="#">More Info</a></td>
            <td><a href="#">More Info</a></td>
            <td><a href="#">More Info</a></td>
            <td><a href="#">More Info</a></td>
        </tr>
    </table>
    <!--<article>-->

            <!--<h2>Well trained horses</h2>-->
            <!--<img src="../../images/horse1.jpg" alt="Horse Picture 1">-->
            <!--<p>Lorem ipsum dolor sit at, consec tetuer Adipiscing elit. Praesent vestibulum estie.</p>-->
            <!--<p>Lorem ipsum dolor sit at, consec tetuer Adipiscing elit. Praesent vestibulum mole.</p>-->
            <!--<p class="button"><a href="#">More Info</a></p>-->
    <!--</article>-->
    <!--<article>-->
            <!--<h2>Large turnout areas for all horses</h2>-->
            <!--<img src="../../images/horse2.jpg" alt="Horse Picture 2">-->
            <!--<p><a href="#">Lorem ipsum dolor sit et, cosec tetuer</a></p> &lt;!&ndash;underline&ndash;&gt;-->
            <!--<p>Adipiscing elit. Praesent vestibul lestie. </p>-->
            <!--<p>lacuiirhs Aenean non ummy henerit ris.</p>-->
            <!--<p>Phasellllus. porta. Fusce suscipit mium sociis totdjque penatibus et magnis dis.</p>-->
            <!--<p class="button"><a href="#">More Info</a></p>-->
    <!--</article>-->
    <!--<article>-->
            <!--<h2>Onsite 24/7</h2>-->
            <!--<img src="../../images/horse3.jpg" alt="Horse Picture 3">-->
            <!--<p><strong>Lorem ipsum dolor set</strong></p> &lt;!&ndash;same size make it orange&ndash;&gt;-->
            <!--<p>Lorem ipsum dolor sit amet, c tetuer Adipiscing elit. Praesent vestibulum mo.</p>-->
            <!--<p><strong>Lorem ipsum tetuer sociis natoque</strong></p> &lt;!&ndash;same size make it orange&ndash;&gt;-->
            <!--<p>Adipiscing elit. Praesent vestibulum molestie lacuiirhs. Aenean non ummy hendrerit.</p>-->
            <!--<p class="button"><a href="#">More Info</a></p>-->
    <!--</article>-->
    <!--<article>-->

            <!--<h2>Little dreamers lessons</h2>-->
            <!--<img src="../../images/horse4.jpg" alt="Horse Picture 4">-->
            <!--<p>Lorem ipsum dolor sit amesec tetuer</p>-->
            <!--<p>Adipiscing elit. Praesent vestibulolestie.</p>-->
            <!--<p>Lorem ipsum dolor sit amet, consec</p>-->
            <!--<p>Adipiscing elit. Praesent vestibullestie.</p>-->
            <!--<p class="button"><a href="#">More Info</a></p>-->
    <!--</article>-->
</section>

</body>
</html>