<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 4:  Davis, Emily</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <section>
        <h2>Adorable Animals</h2>
        <article id="bunny">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum. Maecenas rhoncus, lorem at rutrum fringilla, elit leo lobortis sem, at vestibulum turpis turpis in massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </blockquote>
            <h3>Bunnies</h3>
            <p>Lorem Ipsum</p>
            <a href="#" target="_blank"><img src="../../images/bunny.jpg"></a>
        </article>
        <article id="hedgehog">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum. Maecenas rhoncus, lorem at rutrum fringilla, elit leo lobortis sem, at vestibulum turpis turpis in massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </blockquote>
            <h3>Item 2</h3>
            <p>Lorem Ipsum</p>
            <a href="#" target="_blank"><img src="../../images/hedgehog.jpg"></a>
        </article>
        <article id="panda">
            <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum. Maecenas rhoncus, lorem at rutrum fringilla, elit leo lobortis sem, at vestibulum turpis turpis in massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </blockquote>
            <h3>Item 3</h3>
            <p>Lorem Ipsum</p>
            <a href="#" target="_blank"><img src="../../images/panda.jpg"></a>
        </article>
    </section>


	<!-- End Component -->
	
</body>
</html>