/* Component Stylesheet 4
============================================================
============================================================*/

html{

    font-family: Arial, sans-serif;
    font-size: 100%;
    display: block;
    text-decoration: none;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: #252525;


}
body {

    font: 1.6em/1.4 sans-serif;
    color: #999;
    font-weight: 100;
    display: block;
    max-width: 960px;
    margin: 0 auto;
    background-color: #303030;
    padding: 2%;
}
h1 {
    font-size: 2em;
    -webkit-margin-before: 0.75em;
    -webkit-margin-after: 0.75em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h2{
    font-size: 1.5em;
    -webkit-margin-before: 0.85em;
    -webkit-margin-after: 0.85em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

}
h3{
    font-size: 1.25em;
    -webkit-margin-before: 0.95em;
    -webkit-margin-after: 0.95em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

img {
    height: auto;
    max-width: 100%;
    padding: 2%;
}

header, section, footer {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 2%;
}