<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 3:  Davis, Emily</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <section>
        <h2>Title goes here</h2>
        <ul>
            <li id="box1">
                <h3>Item 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
            </li>
            <li id="box1">
                <h3>Item 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
            </li>
            <li id="box1">
                <h3>Item 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
            </li>
            <li id="box1">
                <h3>Item 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
            </li>
            <li id="box1">
                <h3>Item 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
            </li>
            <li id="box1">
                <h3>Item 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non tellus non metus aliquet bibendum.</p>
            </li>
        </ul>
    </section>
	<!-- End Component -->
	
</body>
</html>