/* Component Stylesheet 3
============================================================
============================================================*/

body {
    background-color: #ffffff;
    color: #666;
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin: 0 auto;
    min-width: 320px;
    overflow: hidden;
    width: 100%;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: black;
    font-size: 70px;
    text-transform: uppercase;
    text-align: left;
    display: block;
    margin: 2rem;
    padding: 2rem;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

h3{
    font-size: 27px;
    line-height: 1.111111111;
    color: #263747;
    font-famliy: 'Raleway', sans-serif;
    font-weight: 300;
    margin: 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}
h4{
    color: #adafaf;
    font-size: 14px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}
@media (min-width: 1400px;){
    h4 + p {
    margin-top: 7%;
}
}
p {
    font-famly: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #57606d;
    display: block;
    line-height: 1.375;
    margin: 0;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}

@media (min-width: 480px){
    li {
        width: 100%;
        float: left;
        padding: 1rem;
        position: relative;
        list-style-type: none;
        text-align: center;
    }
}
@media (min-width: 720px) {
    li {
        width: 50%;
        float: left;
        padding: 1rem;
        position: relative;
        list-style-type: none;
        text-align: center;
    }
}
@media (min-width: 960px){
    li {
        width: 25%;
        float: left;
        padding: 1rem;
        position: relative;
        list-style-type: none;
        text-align: center;
    }
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border: 0;
}

.circle-wrap {
    width: 20rem;
    height: 20rem;
    position: relative;
}
.circle-wrap img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.circle {
    border-radius: 50%;
    display: inline-block;
}

.circle-wrap {
    position: relative;
}
.circle-wrap:hover {
    width: 22rem;
    height: 22rem;
    bottom: 0;
    left: 0;
}
#zeus .bg-info {
    background: #7ce5f3;
}
#zeus .bg-info:hover {
    border: 5px solid #7ce5f3;
    padding: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: rgba (0,0,0);
}

#charmel .bg-info {
    background: #f49166;
}
#charmel .bg-info:hover {
    border: 5px solid #f49166;
    padding: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: rgba (0,0,0);
}

#phill .bg-info {
    background: #f9cc7f;
}
#phill .bg-info:hover {
    border: 3px solid #f9cc7f;
    padding: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: rgba (0,0,0);
}
#zolly .bg-info {
    background: #77e1a4;
}
#zolly .bg-info:hover {
    border: 3px solid #77e1a4;
    padding: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: rgba (0,0,0);
}
