<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 3:  Davis, Emily</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <section>
        <h2>Our dogs</h2>
        <ul>
            <li id="zeus">
                <div>
                    <img src="../../images/zeus.png"/>
                </div>
                <h3>Bazzi Terra Di Zeus</h3>
                <h4>Sire Born: 06. November 2013 <br>Male</h4>
                <p>Smart, confident, courageous, and steady; a true dog lover's dog, the excellent choice for your family.</p>
            </li>
            <li id="charmel">
                <div>
                    <img src="../../images/charmel.png"/>
                </div>
                <h3>Charmel Ruhmes</h3>
                <h4>Sire Born: 01. April 2009 <br> Female</h4>
                <p>Energetic and fun-loving, is very fond of children once a relationship is established. She is waiting to become a part of your family.</p>
            </li>
            <li id="phill">
                <div>
                    <img src="../../images/phill.png"/>
                </div>
                <h3>Phil van der Lust</h3>
                <h4>Sire Born: 08. June 2006 <br> Male</h4>
                <p>He's an intelligent and capable working dog. His devotion and courage are unmatched. Your children will love him.</p>
            </li>
            <li id="zolly">
                <div>
                    <img src="../../images/zolly.png"/>
                </div>
                <h3>Zolly Frankengold</h3>
                <h4>Sire Born: 21. January 2006 <br> Female</h4>
                <p>She's amazingly versatile, excelling at most anything she's trained to do: herding, search and rescue, drug detection, competitive obedience and, last but not least, faithful companion.</p>
            </li>
        </ul>
    </section>
	<!-- End Component -->
	
</body>
</html>