/* Component Stylesheet 3
============================================================
============================================================*/
html{

    font-family: Arial, sans-serif;
    font-size: 100%;
    display: block;
    text-decoration: none;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: #252525;
    color: #dfdfdf;
    max-width: 960px;
    margin: 0 auto;


}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 4rem;
    text-align: center;
    display: block;
    -webkit-margin-before: 0.85em;
    -webkit-margin-after: 0.85em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}


h3{
    font-size: 1.5em;
    margin: 0 0 1 rem 0;
    color: #999999;
    text-transform: uppercase;
    -webkit-margin-before: 0.95em;
    -webkit-margin-after: 0.95em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 700;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

@media (min-width: 480px){
    li {
        width: 100%;
        float: left;
        padding: 1rem;
        position: relative;
        list-style-type: none;
        text-align: center;
    }
}
@media (min-width: 720px) {
    li {
        width: 50%;
        float: left;
        padding: 1rem;
        position: relative;
        list-style-type: none;
        text-align: center;
    }
}
@media (min-width: 960px){
    li {
        width: 25%;
        float: left;
        padding: 1rem;
        position: relative;
        list-style-type: none;
        text-align: center;
    }
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border: 0;
}

.circle-wrap {
    width: 10rem;
    height: 10rem;
    position: relative;
}
.circle-wrap img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.circle {
    border-radius: 50%;
    display: inline-block;
}

.circle-wrap {
    position: relative;
}
.circle-wrap img:hover {
    position: absolute;
    width: 12rem;
    height: 12rem;
    bottom: 0;
    left: 0;
}
#zeus .bg-info {
    background: #7ce5f3;
}
#zeus .bg-info:hover {
    border: 5px solid #7ce5f3;
    padding: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: rgba (0,0,0);
}

#charmel .bg-info {
    background: #f49166;
}
#charmel .bg-info:hover {
    border: 5px solid #f49166;
    padding: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: rgba (0,0,0);
}

#phill .bg-info {
    background: #f9cc7f;
}
#phill .bg-info:hover {
    border: 3px solid #f9cc7f;
    padding: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: rgba (0,0,0);
}
#zolly .bg-info {
    background: #77e1a4;
}
#zolly .bg-info:hover {
    border: 3px solid #77e1a4;
    padding: 2rem;
    border-radius: 50%;
    display: inline-block;
    background: rgba (0,0,0);
}
