<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
		<h1>Great service and expertise in everything we do</h1>
		<h2>THE domain for Memorable Mobile Content</h2>
		<form>
			<input type="text" placeholder="Find your .mobie domain today"></input>
			<input type="submit" value="Find >"></input>
		</form>
	</section>

	<!-- End Component -->
	
</body>
</html>