<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 1: Davis, Emily </title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <link rel="icon" href="http://fortawesome.github.io/Font-Awesome/icon/microphone/" type="image/x-icon">
	
</head>
<body>

	<!-- Component -->

    <header class="header_shadow">
        <div id="stuck_container" class="stuck_container">
            <div class="container">
                <div class="navbar-header">
                    <div class="brand-wrap">
                        <div class="navbar-brand_icon fa-microphone">
                            <img src="../../images/miclogo.png"/>
                        </div>
                        <div class="brand_cnt">
                            <h1 class="navbar-brand"><a href="#">muza</a></h1>
                            <p class="navbar-slogan">recording studio</p>
                        </div>
                    </div>
                </div>
                <nav class="dropdown">
                    <ul>
                        <li>
                            <button class="active">Home</button>
                        </li>
                        <li>
                            <button class="about">About</button>
                            <ul class="dropdown-content prime">
                                <button class="sub"><li><a href="#">Who We Are</a></li></button>
                                <button class="sub"><li><a href="#">Our News</a>
                                    <ul class="dropdown-content second">
                                        <li><a href="#">Latest</a></li>
                                        <li><a href="#">Fresh</a></li>
                                        <li><a href="#">Archive</a></li>
                                    </ul>
                                </li></button>
                                <button class="sub"><li><a href="#">Gallery</a></li></button>
                            </ul>
                        </li>
                        <li>
                            <button>Services</button>
                        </li>
                        <li>
                            <button>Works</button>
                        </li>
                        <li>
                            <button>Contacts</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>






    <!--<nav class="navbar navbar-default navbar-static-top">-->
        <!--<ul class="navbar-nav sf-menu navbar-right" data-type="navbar">-->
            <!--<li class="active"><a href="#">Home</a></li>-->
            <!--<li class="dropdown">-->
                <!--<a href="#" class="sf-with-ul">About</a>-->
                <!--<ul class="dropdown-menu">&lt;!&ndash;style="display: none"&ndash;&gt;-->
                    <!--<li><a href="#">Who we are</a></li>-->
                    <!--<li>-->
                        <!--<a href="#" class="sf-width-ul">Our news</a>-->
                        <!--<ul class="dropdown-menu"> &lt;!&ndash;style="display: none"&ndash;&gt;-->
                            <!--<li><a href="#">Latest</a></li>-->
                            <!--<li><a href="#">Fresh</a></li>-->
                            <!--<li><a href="#">Archive</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="#">Gallery</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">services</a></li>-->
            <!--<li><a href="#">works</a></li>-->
            <!--<li><a href="#">contacts</a></li>-->
        <!--</ul>-->
    <!--</nav>-->

	<!-- End Component -->
	
</body>
</html>