/*Emily Davis*/
/*February 7, 2016*/
/*Component 2 Style Sheet*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f2f2f2;
}
header {
    display: inline;
}
h1{
    float: left;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: transparent;
    background: url(../../images/paw_logo.png) no-repeat center center;
    background-size: 15rem;
    margin-left: 4rem;
}

form {
    float: right;
    padding: 2rem;
}
input {
    width: 15rem;
    height: 3.5rem;
    padding-left: 1rem;
    font-size: 1rem;
    color: #82938b;
    border: none;
}

#button {
    float: right;
    background: url(../../images/search.png) no-repeat center center;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    color: transparent;
}