<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>E. Davis Comp 2</title>
    <link rel="stylesheet" type="text/css" href="comp2style.css" />
</head>
<!--Your pet store logo is bigger than the original. I see from your code that you used an image there. Perhaps that
image needs to be resized to better follow the original component? Why did you choose to include the logo in an <h1>?
Should the logo be considered presentation and be included as a background to the component in the CSS? The horizontal
alignment between your logo and search feature are also off with the search feature being higher than the logo. The
search feature itself is larger than the original. There is a border on yours that I am not seeing on the original. The
word submit is visible over the image you used for the search icon as well as there being a border on focus that the
original component does not have. Code is clean.-->

<!--fixed size of logo. used font for h1 and a background image for the logo instead. fixed size and border of search box. the word submit is transparent now.-->
<body>
    <header>
        <h1>Pet Store</h1>
        <form action="search/search.php" method="GET" accept="charset="utf-8">
        <input type=text value="Search" onblur="if(this.value == ''){this.value='Search'}" onfocus="if (this.value='Search') {this.value=''}">
        <input id="button" type="submit">
        </form>
    </header>

</body>
</html>