/*Emily Davis*/
/*February 7, 2016*/
/*Component 5 Style Sheet*/

html {
    min-width: 1040px;
    text-align: center;
    background-color: #deded5;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    margin: 0 auto;
}
h1 {
    background-color: #fff;
    margin: 0;
}
footer {
    text-align: center;
    padding: 2rem;
    margin: 0;
}
section {
    display: inline-table;
    width: 20%;
    text-align: left;
}
h2 {
    font-family: cursive;
    color: #ec4f3b;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #ec4f3b;
}
li a{
    color: #deded5;
    font-weight: 100;
}
ul {
    list-style-type: none;
    display: inline;
    line-height: 2rem;

}
article {
    color: #deded5;
    background-color: #535353;
    padding-top: 1rem;
}
.copyright {
    text-align: left;
    color: #deded5;
    background-color: #454545;
    margin: 0;
    height: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
}
footer p:last-child a {
    color: #deded5;
}
footer p:last-child a:hover {
    color: #ec4f3b;
}

input {
    font-size: 1rem;
    padding: 1rem;
    color: #deded5;
    background-color: transparent;
    border: #deded5 1px solid;
}
.submit {
    background-color: #ec4f3b;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;

}

section:nth-child(3) a:nth-child(2){
    background: url(../../images/googleplus_color_shadow.png) no-repeat center center;
    background-size: contain;
    color: transparent;
    display: inline-block;
    padding: .5rem;

}
section:nth-child(3) a:nth-child(3) {
    background: url(../../images/twitter_color_shadow.png) no-repeat center center;
    background-size: contain;
    color: transparent;
    display: inline-block;
    padding: .5rem;
}
section:nth-child(3) a:nth-child(4) {
    background: url(../../images/facebook_color_shadow.png) no-repeat center center;
    background-size: contain;
    color: transparent;
    display: inline-block;
    padding: .5rem;
}
section:nth-child(3) a:nth-child(5) {
    background: url(../../images/pintrest_color_shadow.png) no-repeat center center;
    background-size: contain;
    color: transparent;
    display: inline-block;
    padding: .5rem;
}
section:nth-child(3) a:nth-child(6) {
    background: url(../../images/linkedin_color_shadow.png) no-repeat center center;
    background-size: contain;
    color: transparent;
    display: inline-block;
    padding: .5rem;
}