<!DOCTYPE html>
<html>
<head>
	<title>WSP Component 4:  Davis, Emily</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <div class="container">
        <h2>Jackie's Pictures</h2>
        <ul>
            <li style="width: 262px;">
                <div class="thumb-pad2">
                    <div class="thumbnail">
                        <figure>
                            <a href="../../images/dog1.jpg" target="_self"><img src="../../images/dog1bw.jpg"></a>
                        </figure>
                    </div>
                    <div class="caption">
                        <em><img src="../../images/dogicon.png"></em>
                        <div class="extra-wrap">
                            <a href="#">hendrerit mauris</a>
                            <p>aenean nonummy hendrerit</p>
                        </div>
                    </div>
                </div>
            </li>
            <li style="width: 262px;">
                <div class="thumb-pad2">
                    <div class="thumbnail">
                        <figure>
                            <a href="../../images/dog2.jpg" target="_self"><img src="../../images/dog2bw.jpg"></a>
                        </figure>
                    </div>
                    <div class="caption">
                        <em><img src="../../images/dogicon.png"></em>
                        <div class="extra-wrap">
                            <a href="#">hendrerit mauris</a>
                            <p>aenean nonummy hendrerit</p>
                        </div>
                    </div>
                </div>
            </li>
            <li style="width: 262px;">
                <div class="thumb-pad2">
                    <div class="thumbnail">
                        <figure>
                            <a href="../../images/dog3.jpg" target="_self"><img src="../../images/dog3bw.jpg"></a>
                        </figure>
                    </div>
                    <div class="caption">
                        <em><img src="../../images/dogicon.png"></em>
                        <div class="extra-wrap">
                            <a href="#">hendrerit mauris</a>
                            <p>aenean nonummy hendrerit</p>
                        </div>
                    </div>
                </div>
            </li>
            <li style="width: 262px;">
                <div class="thumb-pad2">
                    <div class="thumbnail">
                        <figure>
                            <a href="../../images/dog4.jpg" target="_self"><img src="../../images/dog4bw.jpg"></a>
                        </figure>
                    </div>
                    <div class="caption">
                        <em><img src="../../images/dogicon.png"></em>
                        <div class="extra-wrap">
                            <a href="#">hendrerit mauris</a>
                            <p>aenean nonummy hendrerit</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>



	<!-- End Component -->
	
</body>
</html>