<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>E. Davis Comp 1</title>
    <link rel="stylesheet" type="text/css" href="comp1style.css" />
</head>
<body>

<header>
    <h1>Jacques</h1>
    <nav>
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Memories</a>
                <ul>
                    <li><a href="#">Quisque nulla</a></li>
                    <li><a href="#">Vestibulum libero nis</a></li>
                    <li><a href="#">Porta vel scelerisque eget</a>
                        <ul>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Conse adipiscing</a></li>
                            <li><a href="#">Sit amet dolore</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Malesuada at neque</a></li>
                    <li><a href="#">Vivamus eget nibh</a></li>
                </ul>
            </li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>
</header>



</body>
</html>