<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>E. Davis Comp 1</title>
    <link rel="stylesheet" type="text/css" href="comp1style.css" />
</head>
<body>
<!--Your logo placement is to the left and up from the placement of the original component. Probably just a margin
change? The <ul> placement is much further to the right of the logo on your component than it is on the original. Again,
 a margin or padding issue? Perhaps a positioning change might help? It looks as though your <li> font size could be a
 bit larger and some letter spacing should be added to the items to make them appear more like the original component.
 Also, your <a> color does not match the original. our dropdown background is a bit darker and the text is a bit larger
 than the original. I honestly saw no issues with your HTML for this component. Seems like the changes that should be
 made are all CSS changes. I also noticed that the search feature is not present in your component.-->

<header>
    <h1>Jacques</h1>
    <nav>
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Memories</a>
                <ul>
                    <li><a href="#">Quisque nulla</a></li>
                    <li><a href="#">Vestibulum libero nis</a></li>
                    <li><a href="#">Porta vel scelerisque eget</a>
                        <ul>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Conse adipiscing</a></li>
                            <li><a href="#">Sit amet dolore</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Malesuada at neque</a></li>
                    <li><a href="#">Vivamus eget nibh</a></li>
                </ul>
            </li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>
</header>



</body>
</html>