<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<header>
		<img src="../../images/mobi-logo.jpg" alt="Mobi Internet Made Mobile. Everywhere, every device."/>
		
		
		
		<nav>
		<form>
			<p>
			<input type="text"></input>
			<input type="submit" value="Sign Up"></input>
			</p>
		</form>
		
		<ul>
			<li><a href="#" class="active">home</a></li>
			<li><a href="#">about</a>
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Customer Service</a></li>
					<li><a href="#">Careers</a>
						<ul>
							<li><a href="#">Support Manager</a></li>
							<li><a href="#">Client Manager</a></li>
							<li><a href="#">General Manager</a></li>
						</ul><!--close careers menu-->
					</li>
					<li><a href="#">Bilingual Careers</a></li>
				</ul><!--close about menu-->
			</li>
			<li><a href="#">domains</a></li>
			<li><a href="#">services</a></li>
			<li><a href="#">CONTACTS</a></li>
		</ul><!--close nav list-->
	
		
		
			
		</nav>
	
	</header>

	<!-- End Component -->
	
</body>
</html>