<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<header>
		<img src="" alt="Mobi Internet Made Mobile. Everywhere, every device."/>
		<form>
			<input type="text"></input>
			<input type="submit" value="Search"></input>
		</form>
		<nav>
			<ul>
				<li class="active" ><a href="#">Home</a></li>
				<li><a href="#">About</a>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Customer Service</a></li>
						<li><a href="#">Careers</a>
							<ul>
								<li><a href="#">Support Manager</a></li>
								<li><a href="#">Client Manager</a></li>
								<li><a href="#">General Manger</a></li>
							</ul>
						</li>
						<li><a href="#">Bilingual Careers</a></li>
					</ul>
					<li><a href="#">Domains</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">contacts</a></li>
				</li>
			</ul>
		</nav>
	
	</header>

	<!-- End Component -->
	
</body>
</html>