<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

	
</head>
<body>

	<!-- Component -->
	<section>
		<h1>DESIGNERS</h1>
		<article>
			<figure>
				<figcaption>Lisa Gordon</figcaption>
				<img src="../../images/lisaGordon.jpg" alt="Lisa Gordon Image"/>
			</figure>
			<h3>Successful designer</h3>
			<p>This young, 24-year-old girl has made a big splash as a successful fashion 
			designer. Lisa began her fashion career when she released the namesake clothing
			 line for girls ages 4-14. In 2007 she has launched her contemporary collection.</p>
		</article>
		<article>
			<figure>
				<figcaption>Mike Smith</figcaption>
				<img src="../../images/mikeSmith.jpg" alt="Mike Smith Image"/>
			</figure>
			
			<h3>Resident stylist</h3>
			<p>Mike's passion for styling was sparkes at the age of 17 when, after falling
			 into the fashion industry, he realised that the majority of women wanted to 
			 learn about how to dress for their own style, rather than focusing on what 
			 was in fashion.</p>
		</article>
		<article>
			<figure>
				<figcaption>Robert Stone</figcaption>
				<img src="../../images/roberStone.jpg" alt="Robert Stone Image"/>
			</figure>
			<h3>Personal stylist</h3>
			<p>Primarily, Robert is working as a personal stylist. He has also hosted 
			fashion events, presented televised fashion segments, styled photo shoots and 
			fashion parades, created visual merchandising displays.</p>
		</article>
		<button>All designers</button>
	</section>

	<!-- End Component -->
	
</body>
</html>