/* Component Stylesheet 
============================================================
============================================================*/

body {
	max-width: 100%
	margin: 0 auto;
	text-align: center;	
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #777;
}


article{
	max-width: 30%;
	display: inline-block;
	margin: 0 .5rem 1rem .5rem;
	vertical-align: top;
	
}
h1{
	font-size: 3rem;
	line-height: 2.5rem;
	letter-spacing: 1.1rem;
	margin: 3rem 0 3rem 0;	
	font-family: 'Open Sans Condensed', sans-serif;
	color: #111111;
}
h3{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1rem;
	color: #111;
	font-weight: 300;
	letter-spacing: 7px;
	line-height: 1.5rem;
	text-align: left;
	padding-bottom: 2rem;
}

p{
	text-align: left;
	letter-spacing: 1px;
}

figure{
	margin: 0 0 2rem 0;
	position: relative;
}


figcaption{
	font: 1.1rem 'Open Sans Condensed', sans-serif;
	text-align: center;
	color: #bdc3c7;
	text-shadow: 1px 0 #bdc3c7;
	letter-spacing: 8px;
}
figure:hover{
	color: #0085a0;
	text-shadow: 1px 0 #0085a0;
}

img{
	border: 2px solid #bdc3c7;
	padding: 1rem;
	max-width: 100%;
	box-sizing: border-box;
	vertical-align: middle;
}
img:hover{
	border: 2px solid #0085a0;
}

button{
	display: block;
	margin: 2rem auto;
	background: #0085a0;
	color: #fff;
	border: none;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
	width: 25%;
	line-height: 1.75rem;
	font-size: .75rem;
}