<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>E. Davis Comp 4</title>
    <link rel="stylesheet" type="text/css" href="comp4style.css" />
</head>
<body>

<section>
    <h2>Gallery</h2>
    <div>
        <img src="../../images/cat1.jpg" alt="Cat Picture 1">
        <h3><a href="#">Vestibulum vulputate vel massa.</a></h3> <!-- underline upon hover-->
        <p>Nam feugiat ursus nisl eget sagittis. Vestib ulum sagittis ante eu sapien fermentu.</p>
    </div>
    <div>
        <img src="../../images/cat2.jpg" alt="Cat Picture 2">
        <h3><a href="#">Phasellus posuere magna et pharetra.</a></h3>
        <p>Nam feugiat ursus nisl eget sagittis. Vestib ulum sagittis ante eu sapien fermentu.</p>
    </div>
    <div>
        <img src="../../images/cat3.jpg" alt="Cat Picture 3">
        <h3><a href="#">Nam egestas justo ut ante tincidunt.</a></h3>
        <p>Nam feugiat ursus nisl eget sagittis. Vestib ulum sagittis ante eu sapien fermentu.</p>
    </div>
    <div>
        <img src="../../images/cat4.jpg" alt="Cat Picture 4">
        <h3><a href="#">Proin condimentum mi diam, vel.</a></h3>
        <p>Nam feugiat ursus nisl eget sagittis. Vestib ulum sagittis ante eu sapien fermentu.</p>
    </div>
    <div>
        <img src="../../images/cat5.jpg" alt="Cat Picture 5">
        <h3><a href="#">Suspendisse sapien libero, pharetra.</a></h3>
        <p>Nam feugiat ursus nisl eget sagittis. Vestib ulum sagittis ante eu sapien fermentu.</p>
    </div>
    <div>
        <img src="../../images/cat6.jpg" alt="Cat Picture 6">
        <h3><a href="#">Vivamus at rutrum velit, et pulvinar.</a></h3>
        <p>Nam feugiat ursus nisl eget sagittis. Vestib ulum sagittis ante eu sapien fermentu.</p>
    </div>
    <div>
        <img src="../../images/cat7.jpg" alt="Cat Picture 7">
        <h3><a href="#">Cras euismod tincidunt auctor.</a></h3>
        <p>Nam feugiat ursus nisl eget sagittis. Vestib ulum sagittis ante eu sapien fermentu.</p>
    </div>
    <div>
        <img src="../../images/cat8.jpg" alt="Cat Picture 8">
        <h3><a href="#">Nam vitae enim viverra felis accumsan.</a></h3>
        <p>Nam feugiat ursus nisl eget sagittis. Vestib ulum sagittis ante eu sapien fermentu.</p>
    </div>
</section>

</body>
</html>