<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
	<nav>
		<ul>
			<li><a href="#">Show all</a></li>
			<li><a href="#">Category 1</a></li>
			<li><a href="#">Category 2</a></li>
			<li><a href="#">Category 3</a></li>
		</ul>
	</nav>
	<div>
	<!--Gallery goes here-->
	</div>
	<button>1</button>
	<button>2</button>
	<button>Next page</button>
	
	</section>

	<!-- End Component -->
	
</body>
</html>