<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section>
	<nav>
		<ul>
			<li><a href="#" class="active">Show all</a></li>
			<li><a href="#">Category 1</a></li>
			<li><a href="#">Category 2</a></li>
			<li><a href="#">Category 3</a></li>
		</ul>
	</nav>
	<img src="../../images/gallery1.jpg" alt="gallery image 1"/>
	<img src="../../images/gallery2.jpg" alt="gallery image 2 "/>
	<img src="../../images/gallery3.jpg" alt="gallery image 3"/>
	<img src="../../images/gallery4.jpg" alt="gallery image 4"/>
	<img src="../../images/gallery5.jpg" alt="gallery image 5"/>
	<img src="../../images/gallery6.jpg" alt="gallery image 6"/>
	<img src="../../images/gallery7.jpg" alt="gallery image 7"/>
	<img src="../../images/gallery8.jpg" alt="gallery image 8"/>
	<img src="../../images/gallery9.jpg" alt="gallery image 9"/>
	<button class="active">1</button>
	<button>2</button>
	<button>Next page</button>
	
	</section>

	<!-- End Component -->
	
</body>
</html>