<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>E. Davis Comp 5</title>
    <link rel="stylesheet" type="text/css" href="comp5style.css" />
</head>
<body>

    <h1>Main Content</h1>

<!--I viewed the whole thing as the footer, but apparently the bottom section was actually the footer.-->
<!--broken anchor tags-->
<!--use a paagrap for the bottom section. make the whole thing the footer-->
<!--use sections not divs-->
<!--don't use image tags-->
<!--the form is good. Change values to placeholders-->
<!--Lots of <divs>. I did a footer as well and had to think of that as one section of the website that is full of
smaller sections of information. The colors match up well but font sizing, spacing and formatting are off from the
original. -->

<!--removed divs and used sections instead. All contained inside footer tag. removed image tags and inserted via css.-->

<footer>
    <article>
        <section>
            <h2><a href="#">Cat Lovers</a></h2>
        </section>
        <section>
            <h3><a href="#">About Us</a></h3>
            <ul>
                <li><a href="#">Cats for sale</a></li>
                <li><a href="#">Cat breeds</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </section>
        <section>
            <h4>Follow Us</h4>
            <a href="https://www.plus.google.com">Google Plus</a>
            <a href="https://www.twitter.com">Twitter</a>
            <a href="https://www.facebook.com">Facebook</a>
            <a href="https://www.pinterest.com">Pinterest</a>
            <a href="http://www.linkedin.com">LinkedIn</a>
        </section>
        <section>
            <h4>Newsletter:</h4>
            <form>
                <p><input type="text" value="Name"></p>
                <p><input type="email" value="Email"></p>
                <p><input type="submit" value="Sign Up >>" class="submit"</p>
            </form>
        </section>
    </article>
        <p class="copyright">Cat Lovers Theme &copy 2013 <a href="#">Privacy Policy</a></p>
</footer>



</body>
</html>